.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

  #imgpefil {
    width: 200px;
    height: 200px;
    border-radius: 50%;;

    
    }
    .titulo{
      padding: 50px;
    }
.imgAptitudes{
    width: 80px;
}
.imgProyecto{
    width: 100%px;
}
.seccion-habilidades{
margin: 0;
padding: 100px 0;
}
.seccion-habilidades h2{
    color: black;
    font-weight: 700;
    padding-bottom: 0px;
}
.seccion-habilidades p{
    color: black;
    font-weight: 500;
    padding: 50px;
    font-size: 18px;
}
.logo img{
  height: 100px;
  background-color: transparent;
}
  .logo{
    font-size: 60px;
    color: white;
    background-color: #363636;
    border: 2px solid white;
    padding: 0 15px;
  }
  

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529; 

    padding: 10px 20px; 
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
  }
  .header {
    color: whitesmoke;
  }
  .contenedor-perfil{
  padding-top: 150px;
}
  .header p{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px; 
  color: #fafafa; 
  text-align: center; 
  letter-spacing: 5px;
    
  }

  .nav-links a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #ffffff; 
    margin: 0 20px; 
    font-size: 18px;
    
    
    }
    .nav-links a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .4s;
    }
    .nav-links a:hover:after {
    width: 100%;
    background: #385fe0;
   
    }
    .nav-links a:hover{
      transition: all .4s;

      transform: scale(1.2);
    }
    
.linea{
  border: 1px solid white;

}
.textoSobreMi{
  font-size: 20px;
}
.texto-habilidades{
  font-size: 50px;
}
.proyectos{
  height: auto;
  background-color: #212529;
}
.proyectos p{
  padding: 20px;
  color: white;
}
      
.contenedor-card{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card{
  margin: 5px;
  width: 300px;
}
.card-body p{
  color: black;
}

.espacio{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #385fe0;
}
.contact{
background-color: white;
}
.contacto h2{
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-top: 100px;
  padding-bottom: 20px;
}
.contacto{ 
    padding: 50px 0;
    width: 50%;
    margin: auto;
    text-align: center;
    
}
.container-footer{
  background-color: #212529; 
  padding: 30px;
}
.c-footer p:nth-child(1){
  color: rgb(255, 253, 253);
  font-size: 20px;
  padding: 20px;
}

.icono{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff; 
  margin: 0 20px; 
  font-size: 18px;
}
 a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .4s ;
  }
   a:hover:after {
  width: 100%;
  background: #385fe0;
  }
.icono:hover{
  color: #385fe0;
  transition: all .4s;

  transform: scale(1.5);
}
.p-footer{
  color: white;
}
.icono:not(:hover) {
  transform: scale(1); /* Restaurar el escalado a su tamaño original */
  transition: all .4s;

}

#misProyectos {
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  padding-bottom: 50px;
}
.tituloProyectos{
  color: white;
}
.contenedor-img{
  flex-wrap: wrap;
  height: 300px;
}
#btn-card:hover:after {
  width: 0%;
  background: #faf6f4;
  }
  #btn-card:hover{
    color: #385fe0;

    background: #faf6f4;

}

@media (max-width: 950px) { 
  header p{
    display: none;
  }
  
  p {
    font-size: 12px; /* Ajusta el tamaño según sea necesario */
  }
  h1,h2 {
    font-size: 30px; /* Ajusta el tamaño según sea necesario */

  }
  .tituloProyectos{
    color: white;
  }
  .lead.fs-5.mb-4 {
    font-size: 15px; /* Tamaño de fuente deseado */
    margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
  }
  .contenedor-img img{
    width: 65px;
  }
  #imgpefil {
    width: 150px;
    height: 150px;
    border-radius: 50%;;

    }
    .nav-links a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: #ffffff; 
      margin: 8px; 
      font-size: 15px;
      
      
      }
      .nav-links a:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      transition: all .4s;
      }
      .nav-links a:hover:after {
      width: 100%;
      background: #385fe0;
     
      }
      .nav-links a:hover{
        transition: all .4s;
  
        transform: scale(1.2);
      }
      .textoSobreMi{
        font-size: 15px;
      }
      .seccion-habilidades h2{
        font-size: 30px;
      }

     .seccion-habilidades p{
        font-size: 15px;
      }
      .contenedor-img{
        width: 100%;
        height: auto;
      }
      .proyectos{
        height: auto;
        background-color: #212529;
      }
      .tituloProyectos{
        font-size: 30px;
        color: rgb(255, 255, 255);
        padding-top: 50px;

      }
      
      .proyectos p{
        font-size: 15px;
        --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
      }
           
.contenedor-card{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card{
  margin: 5px;

  width: 300px;
}
      .contacto h2{
        color: rgb(0, 0, 0);
        font-size: 30px;
      }

}

@media (max-width: 950px) { /* Pantallas pequeñas */
  /* Reducir padding y margenes */
  header p{
    display: none;
  }
   p {
    font-size: 12px; /* Ajusta el tamaño según sea necesario */
  }
  h1,h2 {
    font-size: 30px; /* Ajusta el tamaño según sea necesario */

  }
  .tituloProyectos{
    color: white;
  }
  .lead.fs-5.mb-4 {
    font-size: 15px; /* Tamaño de fuente deseado */
    margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
  }
  .contenedor-img img{
    width: 65px;
  }
  #imgpefil {
    width: 150px;
    height: 150px;
    border-radius: 50%;;

    }
    .nav-links a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: #ffffff; 
      margin: 8px; 
      font-size: 15px;
      
      
      }
      .nav-links a:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      transition: all .4s;
      }
      .nav-links a:hover:after {
      width: 100%;
      background: #385fe0;
     
      }
      .nav-links a:hover{
        transition: all .4s;
  
        transform: scale(1.2);
      }
      .textoSobreMi{
        font-size: 15px;
      }
      .seccion-habilidades h2{
        font-size: 30px;
      }
.titulo-habilidades h2{
padding:20px !importante;}

     .seccion-habilidades p{
        font-size: 15px;
      }
      .contenedor-img{
        width: 100%;
        height: auto;
      }
      .proyectos{
        height: auto;
        background-color: #212529;
      }
      .tituloProyectos{
        font-size: 30px;
        color: rgb(255, 255, 255);
        padding-top: 50px;

      }
      
      .proyectos p{
        font-size: 15px;
        --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
      }
      .contacto h2{
        color: rgb(0, 0, 0);
        font-size: 30px;
      }
      
}
